{% extends '@view/layouts/main.twig' %}
{% set title="统计列表" %}

{% block content %}
  <style>
    .title_box{
      width:100%;
      height:26px; 
      border:none;
      display:inline-block;
      position:relative;
      background:url(css/line.png) no-repeat center center #fff;
      background-size: 100% 100%;
    }
    .title_box .title_name1{
      position:absolute;
      left:5px;
      bottom:2px;
      font-style:normal;
      color:#333;
      font-weight:bold;
    }
    .title_box .title_name2{
      position:absolute;
      right:5px;
      top:2px;
      font-style:normal;
      color:#333;
      font-weight:bold;
    }
    .day_btn{
      margin:0 0 20px;
    }
    .table_box{width:100%; height:100%; overflow-x:scroll;}
    .glyphicon-arrow-up{color:#5cb85c; font-size:11px;}
    .glyphicon-arrow-down{color:#d9534f; font-size:11px;}
    .glyphicon-resize-horizontal{color:#f0ad4e; font-size:14px;}
    .table_box table tr td{font-size:16px; font-weight:normal; padding:8px 5px;}
    .list-c .table td{padding:3px;}
    .glyphicon-arrow{color:gray;}
  </style>

  <h2>服务器业务每日执行次数统计</h2>
  <hr />

  {% set form = ActiveForm.begin({
        id : 'list-form',
        type: constant('kartik\\widgets\\ActiveForm::TYPE_HORIZONTAL' ),
        'method': 'post','action':'/index.php?r=log/list',
        formConfig: {labelSpan : 1,
                     deviceSize : constant('kartik\\widgets\\ActiveForm::SIZE_SMALL')}
  }) %}
  {{ form.field(model, 'cdate').widget('kartik\\widgets\\DateTimePicker')|raw }}
  
  <div class="form-group">
    <label for="business-name" class="col-sm-1 control-label">&nbsp;</label>
    <div class="col-sm-1">
      <input type='submit' value='查询' class='btn btn-large btn-primary' />
    </div> 
    <div class="col-sm-1">
      <a id="yesterday" class="btn btn-primary" href="javascript:void(0)">昨天</a>
    </div>
    <div class="col-sm-1">
      <a id="preday" class="btn btn-primary" href="javascript:void(0)">前天</a>
    </div>
  </div>

<div class="list-c">
  {% if result %}
      <table class="table table-striped table-bordered" id="tabProduct">            
          <tr>
            <td class="title_box" style="border:none;"><em class="title_name1">业务</em><em class="title_name2">服务器</em></td>
            <td style="text-align:center;vertical-align:middle; color:#333; font-weight:bold; background:#fff;">合计</td>
            {% for s in server %}
            <td style="text-align:center;vertical-align:middle; color:#333; font-weight:bold; background:#fff;"> {{ s.id ~ '.' ~ s.name }} </td>
            {% endfor %}
          </tr>  
            {% for b in business %}            
              <tr>                  
                <td class="b_name_th col-sm-1"> {{ b.id ~ '.' ~ b.name }} </td>
                <td align="center">
                  {% for key,t in total %}
                    {% if (key == b.id) %}
                      {{ t }}
                      {% if (t > pretotal[b.id]) %}
                        {% if pretotal[b.id] == 0 %}
                          <span class="glyphicon glyphicon-arrow-up">{{ '' }}</span>
                        {% else %}
                          <span class="glyphicon glyphicon-arrow-up {{ (((t-pretotal[b.id])|abs)/pretotal[b.id]*100)|round(2) < 30 ? 'glyphicon-arrow' : '' }}">{{ (((t-pretotal[b.id])|abs)/pretotal[b.id]*100)|round(2) ~ '%'}}</span>
                        {% endif %}
                      {% endif %}
                      {% if (t == pretotal[b.id]) %}
                      <span class="glyphicon glyphicon-resize-horizontal"></span>
                      {% endif %}
                      {% if (t < pretotal[b.id]) %}
                      <span class="glyphicon glyphicon-arrow-down {{ (((t-pretotal[b.id])|abs)/pretotal[b.id]*100)|round(2) < 30 ? 'glyphicon-arrow' : '' }}">{{ (((t-pretotal[b.id])|abs)/pretotal[b.id]*100)|round(2) ~ '%'}}</span>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </td>               
              {% for s in server %}
                <td align="center"> 
                  {% if (result[s.id][b.id] or presult[s.id][b.id]) %}
                    {% set today= result[s.id][b.id] ? result[s.id][b.id] : 0 %}
                    {{ today }}
                    {% if (today > presult[s.id][b.id]) %}
                      {% if presult[s.id][b.id] == 0 %}
                        <span class="glyphicon glyphicon-arrow-up">{{ '' }}</span>
                      {% else %}
                        <span class="glyphicon glyphicon-arrow-up {{ (((today-presult[s.id][b.id])|abs)/presult[s.id][b.id]*100)|round(2) < 30 ? 'glyphicon-arrow' : '' }}">{{ (((today-presult[s.id][b.id])|abs)/presult[s.id][b.id]*100)|round(2) ~ '%'}}</span>
                      {% endif %}
                    {% endif %}
                    {% if (today == presult[s.id][b.id]) %}
                    <span class="glyphicon glyphicon-resize-horizontal"></span>
                    {% endif %}
                    {% if (today < presult[s.id][b.id]) %}
                    <span class="glyphicon glyphicon-arrow-down {{ (((today-presult[s.id][b.id])|abs)/presult[s.id][b.id]*100)|round(2) < 30 ? 'glyphicon-arrow' : '' }}">{{ (((today-presult[s.id][b.id])|abs)/presult[s.id][b.id]*100)|round(2) ~ '%'}}</span>
                    {% endif %}
                  {% endif %}
                </td>
              {% endfor %}
              </tr> 
            {% endfor %}             
      </table>
  {% endif %}
</div>

  <script type="text/javascript" src="/metis/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/metis/js/jFixed.min.js"></script>
  <script type="text/javascript">
    var p_height = $(window).outerHeight()-130,
        p_width =  $(window).width()-310;

    $("#tabProduct").jFixedtable({
      fixedCols: 1,
      width: p_width,
      height: p_height,
      headerRows: 1 
    });

    $("#yesterday").click(function(){
      $("#loglistform-cdate").val('{{ yesterday }}');
      $("#list-form").submit();
    });
    $("#preday").click(function(){
      $("#loglistform-cdate").val('{{ preday }}');
      $("#list-form").submit();
    });
    $(document).ready(function(){
      $(".form-group .col-sm-11").attr("class","col-sm-3");
      $(".form-group .col-sm-3").eq(1).hide();

      $(".input-group").datetimepicker({
        format: 'yyyy-mm-dd',
        todayBtn:  1,
        todayHighlight: 1,
        minView:2,
        autoclose:1
      });
    });
  </script>

{% endblock %}
