{% extends '@view/layouts/main.twig' %}
{% set title = '业务配置' %}

{% block content %}
  <h2>{{ '业务配置 -----' ~ server.name ~ ' IP:' ~ server.ip }}</h2>
  <hr />

  <div class="col-lg-6">
    <div class="row">
      {% set form = ActiveForm.begin({
        id : 'config-form',
        type: constant('kartik\\widgets\\ActiveForm::TYPE_HORIZONTAL' ),
        formConfig: {labelSpan : 2,
                     deviceSize : constant('kartik\\widgets\\ActiveForm::SIZE_SMALL')}
      }) %}
      {{ form.field(model, 'server_url')|raw }}
      {{ form.field(model, 'config_sid').widget('kartik\\widgets\\Select2', {
        data : serverList,
        options : {
          'id' : 'config_sid',
          placeholder : 'Select...'},
        pluginOptions : {
          allowClear : true
        }
      })|raw }}
      {{ form.field(model, 'mdev')|raw }}
      {{ form.field(model, 'odev')|raw }}
      {{ form.field(model, 'gintval')|raw }}
      {{ form.field(model, 'worker')|raw }}
      {{ form.field(model, 'vlan')|raw }}
      {{ form.field(model, 'cap')|raw }}
      {{ form.field(model, 'pcache')|raw }}
      {{ form.field(model, 'log_batch')|raw }}
      {{ form.field(model, 'log_intval')|raw }}
      {{ form.field(model, 'ping')|raw }}
      
      <div class="form-group">
        <label for="business-name" class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-4">
          <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
        </div>
      </div>
      {{ void(form.end) }}
    </div>
  </div>
{% endblock %}
