{% extends '@view/layouts/main.twig' %}
{% set title="业务规则列表" %}

{% block content %}
  <h2>业务统计</h2>
  <hr />
<h3>共执行{{  count }}次</h3>
<hr />
  <div class="row">
       <div class="col-lg-6">
      {% set form = ActiveForm.begin({
        id : 'server-form',
        type: constant('kartik\\widgets\\ActiveForm::TYPE_HORIZONTAL' ),
        formConfig: {labelSpan : 2,
                     deviceSize : constant('kartik\\widgets\\ActiveForm::SIZE_SMALL')}
      }) %}
      {{ form.field(model, 'startTime').widget('kartik\\widgets\\DateTimePicker', {'name' : 'startTime',
                'attribute' : 'startTime', 
                'model':model,})|raw }}
      {{ form.field(model, 'endTime').widget('kartik\\widgets\\DateTimePicker', {})|raw }}
      {{ form.field(model, 'sid').dropDownList(servers)|raw }}
      {{ form.field(model, 'pid').dropDownList(business)|raw }}
      
      <div class="form-group">
        <label for="business-name" class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-4">
          <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
        </div>
      </div>
      {{ void(form.end) }}
    </div>
</div>

{% endblock %}
